body {
  margin:50px;
  background-image:url("https://rachelleskinner.github.io/EscapeRoomDesign/stoneTexture.jpg");
}
/*makes all elements centered but also changes based on the window size*/
.allElements{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#title{
  text-align:center;
  font-family: 'Akaya Telivigala', cursive;
  font-size:60px;
  letter-spacing: 3px;
  animation: textshadow 5s infinite;
  background-color:#a16505;
  padding:15px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  border-radius:8px;
  border-style: double;
  border-width:17px;
  border-color:#702702;
  color:#2e1204;
}
@keyframes textshadow{
  50% {
    text-shadow: 0px 0px 20px #E0C34D,
                 0px 0px 40px #E0C34D
  }
}
  #narrative{
  text-align:center;
  color:#2e1204;
  font-size:20px;
  font-family: 'Cardo', serif;
  font-weight: 600;
  margin-bottom:40px;
  }
hr{
  color:#702702;
  background-color:#702702;
  height:3px;
  border-style:none;
  width:1200px;
  opacity:0.7;
}
#firstImg {
 display:inline;
  border-radius:8px;
  margin-top:165px;
  margin-left:20%;
  margin-right:auto;
  border-style:solid;
  border-width:5px;
  border-color:#702702;
}
/*container to hold riddle and image together*/
.container{
  position: relative;
  float:right;
  text-align: center;
}
.riddleImg{
  display:inline;
  margin-top:100px;
  margin-left:auto;
  margin-right:20%;
  border-radius:8px;
  border-style:solid;
  border-width:5px;
  border-color:#702702;
}
img.riddleImg:hover {
  opacity:0;
}
.riddle{
  font-family: 'Cinzel', serif;
  font-size:20px;
  z-index:-1;
  color:#2e1204;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.space{
  height:60px;
}
#textBoxLabel{
  text-align:center;
  color:#2e1204;
  font-size:30px;
  font-family: 'Cardo', serif;
  font-weight: 600;
  margin-bottom:20px;
}
#textBox{
  text-align:center;
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size:30px;
  width:300px;
  font-family: 'Cardo', serif;
  background-color:#fae4a7;
  border-color:#702702;
  border-style:solid;
  border-width:3px;
}
#tinyHint{
  text-align:center;
  letter-spacing:1px;
  font-family: 'Cardo', serif;
  font-weight: 600;
  color:#2e1204;
}
#submitBtn{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:40px;
  background-color:#a16505;
  border-style:solid;
  border-color:#702702;
  border-radius:8px;
  font-size:20px;
  font-family: 'Akaya Telivigala', cursive;
  font-weight: 600;
  letter-spacing: 1px;
  width:100px;
  color:#2e1204;
  cursor:pointer;
}
#submitBtn:hover{
  box-shadow: 0 0 20px #E0C34D;
  border-color:#a16505;
}
/*Only appears if player inserts correct anwser*/
#reward{
  display:none;
  text-align:center;
  color:#2e1204;
  font-size:20px;
  font-family: 'Cardo', serif;
  font-weight: 600;
  margin-bottom:40px;
}
#nextPuzzle{
  display:none;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  background-color:#a16505;
  border-style:solid;
  border-color:#702702;
  border-radius:8px;
  font-size:20px;
  font-family: 'Akaya Telivigala', cursive;
  font-weight: 600;
  letter-spacing: 1px;
  width:300px;
  color:#2e1204;
  cursor:pointer;
}
#nextPuzzle:hover{
  box-shadow: 0 0 20px #E0C34D;
  border-color:#a16505;
}
#link{
  text-decoration: none;
}
