body{
    text-align:center;
    background-image: linear-gradient(#996837, #E6B561);
    border:10px dotted #622A1E;
  }
.imgresize{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:8px;
}
#title {
  margin-top:20px;
  margin-bottom:30px;
  animation: titleshadow 5s infinite;
}
@keyframes titleshadow{
  50% {box-shadow: 0px 10px 10px #E0C34D}
}
  nav{
    border: 2px solid #E6D49A; 
    padding:15px;
    margin-right:20px;
    margin-left:20px;
    box-sizing: borer-box;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 20px;
  }
a {
  color:#45290E;
  font-size:20px;
}
a:hover {
  color:#E6D49A;
}
h2{
  font-family: 'Akaya Telivigala', cursive;
  font-size:35px;
  letter-spacing: 2px;
  animation: textshadow 5s infinite;
}
@keyframes textshadow{
  50% {
    text-shadow: 0px 0px 20px #E0C34D,
                 0px 0px 40px #E0C34D
  }
}
audio::-webkit-media-controls-panel {
  background-color:#E6B561;
}
p{
  font-size:20px;
  font-weight:600;
  font-family: 'Cardo', serif;
  margin-left:50px;
  margin-right:50px;
}
.cipherwheel{
  animation:spin 9s alternate infinite;
}
@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
.container{
  position:relative;
}
.riddle{
  font-family: 'Akaya Telivigala', cursive;
  font-size:25px;
  letter-spacing:1px;
  z-index:-1;
  position:absolute;
  top: 25%;
  left: 40px;
  right: 40px;
  text-align: center;
  animation: textshadow 5s infinite;
}
.reveal{
  opacity:1.0;
}
img.reveal:hover{
  opacity:0;
}
.goddess1{
  margin-bottom:20px;
}